<template name="ApplicationLayout">
  <header>
      <div class="bs-component">
        <div class="navbar navbar-inverse" id="navbar-main">
          <div class="navbar-header">
            <div class="navbar-header">
            <a href="/map" class="navbar-brand">Chennai Pet Finder Trust</a>
            <ul class="nav navbar-nav">
              <li><a href="/report">Report Pet</a></li>
              <li><a href="/map">Pets Map</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
	
    <div class="container">
        <div class="bs-docs-section">
            <div class="row">
              
              <div class="col-lg-8">
                <div class="page-header">
                  <h1 id="type"><!--img src="images/cat.jpg" class="img-rounded" /--> </h1>
                </div>
              </div>

             <div class="col-lg-3">

              </div> 
            </div>
       </div>    
    </div>
	
	
  </header>

{{> yield}}
  <!-- <aside>
    {{> yield "aside"}}
  </aside>

  <article>
    {{> yield}}
  </article> -->

  <footer>

     <div class="container">
        <div class="bs-docs-section">
            <div class="row">
              
              <div class="col-lg-8">
                <div class="page-header">
                  <h1 id="type"><!--img src="images/cat.jpg" class="img-rounded" /--> </h1>
                </div>
              </div>

             <div class="col-lg-3">

              </div> 
            </div>
       </div>    
    </div>

     <div class="container">
        <div class="row">
              <div class="col-lg-12">
                <div class="page-header">
                  <h1 id="type"><!--img src="images/cat.jpg" class="img-rounded" /--> </h1>
                </div>
              </div>
        </div>
      </div>
    
    <div class="bs-component">
        <div class="navbar navbar-inverse" id="navbar-main">
          <div class="navbar-header">
            <div class="navbar-header">
              <ul class="nav navbar-nav">
                <center><li class="navbar-brand"> Copyright belongs to Kavin Arasu & Nithya Pari 2015</li></center>
              </ul>
            </div>
        </div>
      </div>
    </div>
  </footer>
</template>