<template name="ApplicationLayout">
  <header>
      <div class="bs-component">
        <div class="navbar navbar-inverse" id="navbar-main">
          <div class="navbar-header">
            <div class="navbar-header">
            <a href="/map" class="navbar-brand">Chennai Pet Finder Trust</a>
            <ul class="nav navbar-nav">
              <li><a href="/report">Report Pet</a></li>
              <li><a href="/map">Pets Map</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
	
    <div class="container">
        <div class="bs-docs-section">
            <div class="row">
              
              <div class="col-lg-12">
				  <a href="https://www.facebook.com/chennaipetfinder/"><img class='fb pull-right' src="fb-logo.png"/></a>
                <div class="page-header">
                </div>
              </div>

             <div class="col-lg-3">

              </div> 
            </div>
       </div>    
    </div>
	
	
  </header>

{{> yield}}
  <!-- <aside>
    {{> yield "aside"}}
  </aside>

  <article>
    {{> yield}}
  </article> -->

  <footer>

     
  </footer>
</template>