<template name="map">
  <div class="map-container">
    <div class="container">
        <div class="bs-docs-section">
            <div class="row">
              <div class="col-lg-12">
					<h2><b>Chennai Pet Finder Tool</b> </h2>
					<h5>	 Chennai Rains 2015 </h5>
              </div>
            </div>
       </div>    
    </div>
    <!--    <div style="overflow: hidden;">
        <form id="filterform">
            <div class="form-group">
                      <div class="col-lg-2">
                        <select class="form-control" id="filterGender">
						   <option selected>All</option>
                           <option value='Male'>Male</option>
                           <option value='Female'>Female</option>
                        </select>
                      </div>
            </div>
        </form>
       </div>  -->
    <!-- </div>     -->
 	  
    {{> googleMap name="map" options=mapOptions}}
  </div>
</template>
