.map-container {
  width: 87.5%;
  max-width: 87.5%;
  height: 600px;
  margin-left: auto ;
  margin-right: auto ;
}

#map {
  width: 400px;
  height: 300px;
  background: #666;
  margin-bottom: 30px;
}

.image-thumbnail {
	min-width:128px;
	min-height:128px;
	max-width:128px;
	max-height:128px;
}